CMB.Phone/data/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="country">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="banks">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="bank">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="services">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="service">
                                  <xs:complexType>
                                    <xs:attribute name="id" type="xs:string" use="required" />
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                    <xs:attribute name="national" type="xs:unsignedInt" use="required" />
                                    <xs:attribute name="international" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="url" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="code" type="xs:string" use="required" />
            <xs:attribute name="languagecode" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>